<div class="home-component">
    <!-- <app-header></app-header> -->
    <div class="main-component">
        <div class="box-1">
            <div class="slot-1">
                <ul>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                                <div class="card-slot-1-img">
                                    <img src="assets/images/download.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                    <li routerLink="">
                        <a routerLink="">
                            <div class="card">
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details">By Christine Luff, ACE-CPT</div>
                                </div>
                                <div class="card-slot-1-img">
                                    <img src="assets/images/download.jpg" alt="">
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="slot-2">
                <a routerLink="">
                    <div class="card">
                        <div class="slot-2-card-img">
                            <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                        </div>
                        <div class="text-container">
                            <div class="category-top-title">Walking</div>
                            <div class="post-name">Tested: The 6 Best Walking Pads</div>
                            <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="slot-3">
                <div class="card">
                    <div class="slot-3-head">
                        Trending
                    </div>
                    <ul class="card-grp">
                        <li>
                            <a routerLink="">
                                <div class="text-container">
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="">
                                <div class="text-container">
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="">
                                <div class="text-container">
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a routerLink="">
                                <div class="text-container">
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box-2">
            <div class="card-grp">
                <ul>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="slot-2-card-img">
                                    <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                                </div>
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="slot-2-card-img">
                                    <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                                </div>
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="slot-2-card-img">
                                    <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                                </div>
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="slot-2-card-img">
                                    <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                                </div>
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="box-3">
            <div class="card-grp">
                <ul>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="slot-2-card-img">
                                    <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                                </div>
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="slot-2-card-img">
                                    <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                                </div>
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a routerLink="">
                            <div class="card">
                                <div class="slot-2-card-img">
                                    <img class="card-img-top" src="assets/images/download.jpg" alt="Card image cap">
                                </div>
                                <div class="text-container">
                                    <div class="category-top-title">Walking</div>
                                    <div class="post-name">Tested: The 6 Best Walking Pads</div>
                                    <div class="post-details text-muted">By Christine Luff, ACE-CPT</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- <app-footer></app-footer> -->
</div>