<div class="header">
  <nav>
    <div class="logo">
      <!-- <img src="assets/images/Health-1.jpg" routerLink="/"> -->
      <span routerLink="/">Healthplanetary</span>
    </div>
    <input type="checkbox" id="click">
    <label for="click" class="menu-btn">
      <i class="fas fa-bars"></i>
    </label>
    <ul>
      <li><a routerLink="/health" routerLinkActive="active">Health</a></li>
      <li><a routerLink="/fitness" routerLinkActive="active">Fitness</a></li>
      <li><a routerLink="/food" routerLinkActive="active">Food</a></li>
      <li><a routerLink="/drink" routerLinkActive="active">Drink</a></li>
      <li><a routerLink="/Vegetable" routerLinkActive="active">Vegetable</a></li>
    </ul>
    <!-- <div class="icon">
        <input *ngIf="showSearchBox" type="text" placeholder="Search.." name="searchBox" required />
        <i *ngIf="!showSearchBox" class="fa-solid fa-magnifying-glass" (click)="searchBox()"></i>
      </div> -->
  </nav>
</div>